<body class = "indexpage_body" >
    <div class = "index_page_logo" >
    </div>
    <div class = "index_page_upper_image" >
    <p class = "index_page_upper_content1" >We take care of </p><p class = "index_page_upper_content2" > Your Health </p>
    </div>
    <div class = "index_page_upper_image1" >
    </div>
    <div class = "index_page_content" >
    <p class = "index_page_about_us1" >About us</p>
    <p class = "index_page_about_us2" >Trifold brochures have been a type pf material used to advertise brands, products and services.<br>
    The best way to maximise its use is to introduce what the brand has to offer with a brief or <br> about section like this. Make sure 
    to keep your introduction short but interesting enough to <br> readers.<br>Make sure to feature your bestsellers or signature products or pieces.
    Keep it simple end to the<br> point by listing the name, price and brief description.</p>

    <br>
    <br>

    <p class = "index_page_our_services" >Our Services </p>
    </div>
    <div class = "index_page_doctor_photo" >
    </div>
</body>