<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  
    <%= yield %><br>
    <p>Welcome to ShopMe, we hope you will be happy with products offered by the online store and that you will shop with us again and again.</p>
    Regards<br>
    Naman Kumar Dua<br>
    Intern<br>
    Beryl Systems
    
  </body>
</html>
