.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.user_sign_up_form {
    text-align: center;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
    padding: 15px;
}

.user_sign_up_label{
    font-size: 25px;
    padding-right: 160px;
    float: inline-start;
}

.user_sign_up_field {
    float: right;
    width: 200px;
    height: 22px;
    margin-right: 60px;
    padding-left: 10px;
}

.checkbox_label {
    float: left;
    font-size: 25px;
    margin-left: 55px;
}

.check_box_sign_up1 {
    text-align: right;
    vertical-align: middle;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.check_box_sign_up2 {
    text-align: right;
    vertical-align: middle;
    margin-right: 45px;
    margin-bottom: 5px;
    font-size: 20px;
}

.sign_up_error {
    text-align: right;
    color: red;
}

.user_sign_in_form {
    text-align: center;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
    padding: 15px;
}

.user_sign_in_label {
    padding-right: 160px;
    float: inline-start;
    font-size: 25px;
}

.user_sign_in_field {
    float: right;
    width: 200px;
    height: 22px;
    margin-right: 60px;
    padding-left: 10px;
}

#sign_in_email_error {
    text-align: right;
    color: red;
    margin-right: 65px;
}

#sign_in_password_error {
    text-align: right;
    color: red;
    margin-right: 65px;
}

.admin_sign_up_form {
    text-align: center;
    font-size: 25px;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding: 15px;
}

.admin_devise_links {
    font-size: 20px;
    text-align: center;
}

.admin_sign_in_form {
    text-align: center;
    font-size: 25px;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding: 15px;
}

.admin_resend_confirmation_mail {
    text-align: center;
    font-size: 25px;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding: 15px;
}

.admin_forgot_password_page {
    text-align: center;
    font-size: 25px;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding: 15px;
}

.admin_resend_unlock_instruction_page {
    text-align: center;
    font-size: 25px;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 40px;
    padding: 15px;
}

.adding_new_product {
    text-align: center;
    border: 3px solid green;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
    padding: 15px;
}

.product_form_label {
    font-size: 25px;
    padding-right: 160px;
    float: inline-start;
    float: left;
    margin-left: 50px;
}

.product_form_fields {
    font-size: 15px;
    float: right;
}

.submit_product_details {
    text-align: center;
}

#preview_product_image {
    width: 100px;
    height: auto;
    display: block;
}













table td {
    border: 2px solid black;
    border-collapse: collapse ;
    text-align: center;
    width: 150px;
    height: auto;
}

#email {
    float: right;
    margin-right: 60px;
}

#pass {
    float: right;
    margin-right: 60px;
}

#sign {
    color: black;
    
}

.image {
    float: left;
    width: 300px;
    height: auto;
}

.passwd {
    float: right;
    margin-right: 60px;
}

.check {
    margin-left: 300px;
}

.sign_in {
    margin-left: 1200px;
}

.sign_up {
    margin-right: 0px;
}



li {
    display: inline-block;
    color: aliceblue;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
    float: right;
}

li a:hover{
    background-color: blueviolet;
}

body {
    background-color: aqua;
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: aliceblue;
    margin-top: 100px;
}

.new_product {
    text-align: center;
    border: 3px solid green;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Verdana, sans-serif
}